doctype html
html(lang="ru")
head
    include ../global/meta.jade
    include ../global/link.jade
    link(rel='stylesheet' href="../css/index.css")
    script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js')
    script(type='text/javascript' src='js/index.js')
    title 2 страница
body
    h1 2 страница
    p Слово это сила
    a(href="../") Главная страница