.width-block 
	width 1024px
	max-width _w-max
	min-width _w-min
	margin-top 0px
	margin-right auto
	margin-left auto
	background-color c_violet

.no-width-block 
	height 340px
	margin-top 0px
	padding-top 0px
	background-color c_blue

.cover-top 
	color c_white
	background-image url('../img/t-e-p.jpg')
	background-position 50% 50%
	background-size cover
	height 516px
	padding-top 150px

.cover_h-sub
	height 90px
	margin-top 0px
	padding-top 0px
	font-family 'PT Serif', serif
	color c_white
	font-size 18px
	line-height 41px
	font-weight 400
	text-align center
	letter-spacing 16px