@import 'global/flex.styl'
@import 'global/normalize.css'
@import 'global/links.styl'
@import 'global/colors.styl'
@import 'global/fonts.styl'
@import 'blocks/image.styl'

div 
	// border 1px solid c_red // Отображение границ
	box-sizing border-box

*
	box-sizing content-box
	padding 0px
	margin 0px

.main
	box-sizing border-box
	background-color c_grey
	color c_black
	position absolute
	left 0px 
	top 0px
	width _w

.general
	box-sizing border-box
	background-color c_white
	margin 30px 30px 30px 30px
	padding 30px 30px 30px 30px

hr 
	color c_black
	opacity 0.5

h1, h2, h3
	margin 0px
	color c_black
	
