doctype html
html(lang="ru")
head
	include global/meta.jade
	include global/link.jade
	link(rel='stylesheet' href="/css/index.css")
	script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js')
	script(type='text/javascript' src='js/index.js')
	title Главная страница

body
	.main
		.general
			include blocks/image.jade
			h1 Главная страница
			img(src="/img/image.jpg", alt="Картинка")
			p
				i Текст под картинкой
			br
			ul
				li
					a(href="page_2") 2 страница
				li
					a(href="page_3") 3 страница