_w-min = 960px
_w-max = 1024
_w = 100%
_h = 100%

.flex
	display -webkit-box
	display -webkit-flex
	display -ms-flexbox
	display flex
	-webkit-flex-wrap nowrap
	-ms-flex-wrap nowrap
	flex-wrap nowrap
	
// СТРОКА
.row
	flex-direction row
.top-row
	align-items flex-start
.center-row
	align-items center
.bottom-row
	align-items flex-end
.stretch-row
	align-items stretch

// СТОЛБЕЦ
.column
	flex-direction column
.left-column
	align-items flex-start
.center-column
	align-items flex-center
.right-column
	align-items flex-end

.justify-center //по центру без отступа
	justify-content center
.justify-around // по ширине с отступом
	justify-content space-around
.justify-between // по ширине без отступа
	justify-content space-between

.row-column
	flex-direction row
	@media (max-width _w-min)
		flex-direction column

.column-row
	flex-direction column
	@media (max-width _w-min)
		flex-direction row
