// Шрифты

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700')

f_serif =  'PT Serif', serif
f_sans = 'PT Sans', Arial

fs_regular = 400
fs_bold = 700

h1
	color c_white
	font-family f_serif
	font-size 64px
	font-weight fs_bold
	letter-spacing 1.95px
	line-height 92px
	text-align center
h2
	font-family f_serif
	font-size 34px
	font-weight fs_bold
	letter-spacing 1.7px
	line-height 44px
h3
	font-family f_sans
	font-size 24px
	font-weight fs_bold
	letter-spacing 1px
.t
	font-family f_sans
	font-size 17px
	letter-spacing 0.85px
	line-height 27px
.tm
	font-family f_sans
	font-size 15px
	letter-spacing 0.75px
	line-height 17px
.tc
	font-family f_sans
	font-size 13px
	letter-spacing 0.3px
	line-height 17px