link(rel="icon" href="favicon.ico" type="image/x-icon")
link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
link(rel="apple-touch-icon" href="img/ios/default_icon_60x60.png")
link(rel="apple-touch-icon" sizes="57x57" href="img/ios/icon_57.png")
link(rel="apple-touch-icon" sizes="72x72" href="img/ios/icon_72.png")
link(rel="apple-touch-icon" sizes="76x76" href="img/ios/icon_76.png")
link(rel="apple-touch-icon" sizes="114x114" href="img/ios/icon_114.png")
link(rel="apple-touch-icon" sizes="120x120" href="img/ios/icon_120.png")
link(rel="apple-touch-icon" sizes="144x144" href="img/ios/icon_144.png")
link(rel="apple-touch-icon" sizes="152x152" href="img/ios/icon_152.png")
link(rel="shortcut icon" sizes="196x196" href="img/android/default-highres-icon.png")
link(rel="shortcut icon" sizes="128x128" href="img/android/icon_128.png")
link(rel="shortcut icon" sizes="96x96" href="img/android/icon_for_xhdpi.png")
link(rel="shortcut icon" sizes="72x72" href="img/android/icon_for_hdpi.png")
link(rel="shortcut icon" sizes="48x48" href="img/android/icon_for_mdpi.png")
