- var v = {"description" : "Описание","keywords" : "слова, слова","url" : "http://test.ru","urlImage" : "http://test.ru/img/cover.png","titleName" : "Описание"}

meta(charset="utf-8")

meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
meta(name="viewport" content="width=device-width, initial-scale=1")

meta(name="description" content= v.description)
meta(name="keywords" content= v.keywords)

meta(property="og:image" content= v.urlImage)
meta(property="og:image:secure_url" content= v.urlImage )
meta(property="og:image:type" content="image/png" )
meta(property="og:image:width" content="300")
meta(property="og:image:height" content="300")

meta(property="og:title" content= v.titleName )
meta(property="og:type" content="website" )
	
meta(property="og:site_name" content= v.titleName )
meta(property="og:url" content= v.url )
meta(property="og:description" content= v.description )

meta(itemprop="name" content= v.titleName )
meta(itemprop="image" content= v.urlImage )
meta(itemprop="description" content= v.description )

meta(name="twitter:card" content="summary_large_image" )
meta(name="twitter:site" content= v.titleName )
meta(name="twitter:creator" content= v.titleName )
meta(name="twitter:title" content= v.titleName )
meta(name="twitter:description" content= v.description )
meta(name="twitter:image" content= v.urlImage )

meta(property="fb:admins" content= v.url )